name: CI
on:
  push:
    branches:
      - main
    tags: ['[0-9]*']
  pull_request:
    branches:
      - main
      - 'release-*'

jobs:
  test:
    name: Run tests
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]
    steps:
    - uses: actions/checkout@v3
    - name: Install Rust
      run: rustup update stable --no-self-update && rustup default stable && rustup target add wasm32-wasi && rustup target add wasm32-unknown-unknown
      shell: bash
    - name: Install Protobuf Compiler
      uses: arduino/setup-protoc@v1
      with:
        repo-token: ${{ secrets.GITHUB_TOKEN }}
    - name: Build all crates
      run: cargo build --all --features warg-server/debug
    - name: Run all tests
      run: cargo test --all --features warg-server/debug

  test-postgres:
    name: Run PostgreSQL tests
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest]
    steps:
    - uses: actions/checkout@v3
    - name: Install Rust
      run: rustup update stable --no-self-update && rustup default stable && rustup target add wasm32-wasi && rustup target add wasm32-unknown-unknown
      shell: bash
    - name: Install Protobuf Compiler
      uses: arduino/setup-protoc@v1
      with:
        repo-token: ${{ secrets.GITHUB_TOKEN }}
    - name: Install diesel-cli
      run: cargo install diesel_cli
    - name: Build all crates
      run: cargo build --all --features postgres
    - name: Run postgres tests
      run: ci/run-postgres-tests.sh

  install:
    name: Install warg CLI
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - name: Install Rust
      run: rustup update stable --no-self-update && rustup default stable
    - name: Install Protobuf Compiler
      uses: arduino/setup-protoc@v1
      with:
        repo-token: ${{ secrets.GITHUB_TOKEN }}
    - name: Install warg CLI
      run: cargo install --locked --path .

  rustfmt:
    name: Format source code
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - name: Install Rust
      run: rustup update stable && rustup default stable && rustup component add rustfmt
    - name: Run `cargo fmt`
      run: cargo fmt -- --check
